---
layout: default
---
<!-- page.html -->
        <div class="post">
          
         <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <p class="post-description">{{ page.description }}</p>
          </header>
                
          {% if site.display_tags %}
          <div class="tag-list">
                <li>
                  <i class="fas fa-hashtag fa-sm"></i> <a href="{{ tag | slugify | prepend: '/publications/tag/' | relative_url }}">{{ tag }}</a>
                </li>
          </div>
          {% endif %}


          <article>
            {{ content }}
          </article>

        </div>
